html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-inline: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  transition: 0.7 ease linear;
  background-color: #f6f6f6;
}
.header {
  padding-block: 25px;
}
.logo-box {
    width: 120px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.logo-box img {
  width: 100%;
  height: 100%;
 
}
.navbar-brand button svg {
  color: black;
  font-size: 35px;
}
nav .navbar-brand,
nav .nav-link {
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  background-color: yellow;
  border-radius: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}
nav .navbar-brand:hover,
nav .nav-link:hover
{
  color: #f0db0e;
  background-color: black;
}
nav .nav-item .active{
    color: #f0db0e;
    background-color: black;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

/* start sandwich  */

.sandwich {
  display: flex;
  justify-content: center;
}
.sandwich .image-box {
  width: 500px;
  margin: auto;
  position: relative;
}
.sandwich .image-box::before{
    position: absolute;
    content: attr(data);
    color: white;
    font-size: 28px;
    font-weight: 600;
    bottom: 5px;
    left: 15px;
}
.sandwich .box {
  background-color: white;
  
}

.sandwich .image-box img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 100%;
}
.sandwich .sand-image {
  margin-bottom: 20px;
  width: 500px;
  
}
.sandwich .sand-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sandwich .model-container,
.sandwich .model-container-2,
.sandwich .model-container-3,
.sandwich .model-container-4,
.sandwich .model-container-5,
.sandwich .model-container-6,
.sandwich .model-container-7,
.sandwich .model-container-8,
.sandwich .model-container-9,
.sandwich .model-container-10
{
    display: flex;
    justify-content: center;
    transform: scale(0);
    position: fixed;
    bottom: 0;
    max-width: fit-content;
    
}
.sandwich .model-container .model,
.sandwich .model-container-2 .model,
.sandwich .model-container-3 .model,
.sandwich .model-container-4 .model,
.sandwich .model-container-5 .model,
.sandwich .model-container-6 .model,
.sandwich .model-container-7 .model,
.sandwich .model-container-8 .model,
.sandwich .model-container-9 .model,
.sandwich .model-container-10 .model
{
    position: relative;
    background-color: white;
}
.sandwich .model-container .model h3, .sandwich .model-container .model p,
.sandwich .model-container-2 .model h3, .sandwich .model-container-2 .model p,
.sandwich .model-container-3 .model h3, .sandwich .model-container-3 .model p,
.sandwich .model-container-4 .model h3, .sandwich .model-container-4 .model p,
.sandwich .model-container-5 .model h3, .sandwich .model-container-5 .model p,
.sandwich .model-container-6 .model h3, .sandwich .model-container-6 .model p,
.sandwich .model-container-6 .model h3, .sandwich .model-container-7 .model p,
.sandwich .model-container-6 .model h3, .sandwich .model-container-8 .model p,
.sandwich .model-container-6 .model h3, .sandwich .model-container-9 .model p,
.sandwich .model-container-6 .model h3, .sandwich .model-container-10 .model p
{
    margin: 10px;
}
.sandwich .model-container .image-holder,
.sandwich .model-container-2 .image-holder,
.sandwich .model-container-3 .image-holder,
.sandwich .model-container-4 .image-holder,
.sandwich .model-container-5 .image-holder,
.sandwich .model-container-6 .image-holder,
.sandwich .model-container-7 .image-holder,
.sandwich .model-container-8 .image-holder,
.sandwich .model-container-9 .image-holder,
.sandwich .model-container-10 .image-holder
{
    width: 500px;  
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.sandwich .model-container .image-holder::after,
.sandwich .model-container-2 .image-holder::after,
.sandwich .model-container-3 .image-holder::after,
.sandwich .model-container-4 .image-holder::after,
.sandwich .model-container-5 .image-holder::after,
.sandwich .model-container-6 .image-holder::after,
.sandwich .model-container-7 .image-holder::after,
.sandwich .model-container-8 .image-holder::after,
.sandwich .model-container-9 .image-holder::after,
.sandwich .model-container-10 .image-holder::after{
    content: attr(price);
    color: black;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.sandwich .model-container .image-holder img,
.sandwich .model-container-2 .image-holder img,
.sandwich .model-container-3 .image-holder img,
.sandwich .model-container-4 .image-holder img,
.sandwich .model-container-5 .image-holder img,
.sandwich .model-container-6 .image-holder img,
.sandwich .model-container-7 .image-holder img,
.sandwich .model-container-8 .image-holder img,
.sandwich .model-container-9 .image-holder img,
.sandwich .model-container-10 .image-holder img
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    animation: one 10s infinite;

}
.sandwich .model-container .model p,
.sandwich .model-container-2 .model p,
.sandwich .model-container-3 .model p,
.sandwich .model-container-4 .model p,
.sandwich .model-container-5 .model p,
.sandwich .model-container-6 .model p,
.sandwich .model-container-7 .model p,
.sandwich .model-container-8 .model p,
.sandwich .model-container-9 .model p,
.sandwich .model-container-10 .model p
{
    max-width: 450px;
    margin-bottom: 15px;

}
.sandwich .model-container .model svg,
.sandwich .model-container-2 .model svg,
.sandwich .model-container-3 .model svg,
.sandwich .model-container-4 .model svg,
.sandwich .model-container-5 .model svg,
.sandwich .model-container-6 .model svg,
.sandwich .model-container-7 .model svg,
.sandwich .model-container-8 .model svg,
.sandwich .model-container-9 .model svg,
.sandwich .model-container-10 .model svg
{
    position: absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
    color: black;
}
.sandwich .model-container .model svg:hover,
.sandwich .model-container-2 .model svg:hover,
.sandwich .model-container-3 .model svg:hover,
.sandwich .model-container-4 .model svg:hover,
.sandwich .model-container-5 .model svg:hover,
.sandwich .model-container-6 .model svg:hover,
.sandwich .model-container-7 .model svg:hover,
.sandwich .model-container-8 .model svg:hover,
.sandwich .model-container-9 .model svg:hover,
.sandwich .model-container-10 .model svg:hover
{
    color: #f0db0e;
}



@media (max-width: 767px) {
    .sandwich .image-box {
      width: auto;
    }
    .sandwich .sand-image {
      width: auto;
    }
    .sandwich .model-container .image-holder,
    .sandwich .model-container-2 .image-holder,
    .sandwich .model-container-3 .image-holder,
    .sandwich .model-container-4 .image-holder,
    .sandwich .model-container-5 .image-holder,
    .sandwich .model-container-6 .image-holder,
    .sandwich .model-container-7 .image-holder,
    .sandwich .model-container-8 .image-holder,
    .sandwich .model-container-9 .image-holder,
    .sandwich .model-container-10 .image-holder
    {
        width: auto;  
       
    }
  }

  @keyframes one{
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }
/* end sandwich  */


/* start page  */
.page .col{
    background-color: white;
}
.page .image{
    width: 500px;
    height: 120px;
    object-fit: cover;
}
.page .image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.page a{
    text-decoration: none;
    color: black;
}
.page .box{
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
}
.page .box svg{
    position: absolute;
    right: 5px;
    bottom: 10px;
}
/* end page  */